@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.Contact {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.ContactContainer {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.ContactRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.ContactMiddleLine {
  width: 2px;
  height: 80%;
  background-color: #444;
  margin: 0 2rem;
}

.ContactLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  height: 90%;
}

.ContactTitle {
  /* font-family: 'Roboto Mono', monospace; */
  color: #0d98ba;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.ContactText {
  /* font-family: 'Roboto Mono', monospace; */
  color: #1e203e;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

.ContactDetails {
  /* font-family: 'Roboto Mono', monospace; */
  color: #1e203e;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

.ContactIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.ContactIcon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  width: 50%;
  gap: 1.2rem;
}

.ContactIconImage {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.ContactIconText {
  /* font-family: 'Roboto Mono', monospace; */
  color: #1e203e;
  font-size: 1rem;
  justify-content: center;
}

@media (max-width: 600px) {
  .Contact {
    height: auto;
    margin-top: 2vh;
    /* padding: 1rem; */
  }

  .ContactContainer {
    flex-direction: column-reverse;
    height: auto;
    padding: 1rem 0;
  }
  .ContactLeft, .ContactRight {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .ContactRight {
    font-weight: bold;
  }
  .ContactMiddleLine {
    display: none;
  }
  .ContactText, .ContactDetails {
    font-size: 1rem;
  }
  .ContactIconImage {
    width: 36px;
    height: 36px;
  }
}