@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body{
  margin: 0;
  /* height: 100vh; */
  /* overflow: hidden; */
  background: radial-gradient(circle, #353535 20%, #242424 70%);
  position: relative;

}

.homeTitle{
  color: white;
  font-family: "Instrument Sans", sans-serif;
  font-size: 4rem;
  animation: fadeIn 1s ease-in-out;
  /* bottom: 33vh; */
  /* position: relative; */
}

.homeTitle .titleHighlight{
  font-family: 'Lily Script One', cursive;
  color: white;
  /* background: linear-gradient(to right, rgb(255, 0, 166), rgb(31, 38, 255)); */
  background: linear-gradient(to right, #db0000d1, #03fa63d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeTextContainer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 20vh;
}

.homeTitleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  height: 5vh;
  position: relative;
  bottom: 18vh;
}

.homeText{
  color: white;
  font-size: 1.5rem;
  animation: fadeIn 2s ease-in-out;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.home {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../Assets/homeMoon.jpg');  */
  /* background-color: #232323; */
  /* background: radial-gradient(circle, #303030cc 30%, #232323cc 70%); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Assets/homeRedshapes.jpg'); 
  /* background-color: #232323; */
  /* background: radial-gradient(circle, #303030cc 30%, #232323cc 70%); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background: radial-gradient(circle, #452e2e 20%, #3d3737 70%);
}

.homeContentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 15%;
  position: relative;
}

.homeContentMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  position: relative;
  /* perspective: 1000px; */
}

.homeContentRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 15%;
  position: relative;
  gap: 10rem;
  /* perspective: 1000px; */
}

.homeRightIcon {
  width: 15vh;
  transform: rotateZ(-10deg);
}

.homeLeftIcon {
  width: 15vh;
  transform: rotateZ(10deg);
}


.homeLink{
  text-decoration: none; 
}

.homeEnquireButton{
  /* background: linear-gradient(90deg, rgba(122, 122, 122, 0.9) 10%, rgba(50, 50, 50, 0.9) 90%); */
  /* background: linear-gradient(100deg, #db0000cc, #03fa63cc); */
  background-color: rgba(219, 0, 0, 0.37);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.homeEnquireButton:hover{
  transform: scale(1.1);
}

/* .homeExplosion{
  height: 70vh;
  position: relative;
  align-self: center;
  bottom: 10vh;
} */

.imageDeck {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin-top: 2rem; */
  cursor: pointer;
  perspective: 1000px;
}

.imageCard {
  position: relative;
  width: 150px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imageCard:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.imageCard:nth-child(1) {
  transform: translateX(-10px) rotateZ(-10deg);
}

.imageCard:nth-child(2) {
  transform: translateY(-10px) rotateZ(10deg);
}

.imageCard:nth-child(3) {
  transform: translateX(10px) rotateZ(-10deg);
}

.imageDeck:hover .imageCard {
  transform: rotateY(0deg) scale(1);
}

/* Scroll Prompt Container */
.scrollPrompt {
  /* position: absolute; */
  /* bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  animation: fadeIn 2s ease-in-out;
  height: 30%;

}

/* Scroll Text */
.scrollText {
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Instrument Sans', sans-serif;
  animation: bobbing 1.5s infinite ease-in-out;
}

/* Scroll Arrow */
.scrollArrow {
  width: 20px;
  height: 20px;
  color: white;
  /* transform: rotate(-45deg); */
  animation: bobbing 1.5s infinite ease-in-out;
}

/* Bobbing Animation */
@keyframes bobbing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}