.navbar {
    background-color: rgb(35, 35, 35);
    width: 90%;
    height: 10vh;
    border-radius: 10px;
    justify-self: center;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 2px -2000px 0px rgba(255, 23, 23, 0.797);
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.navlink {
    color: white; /* Makes the text white */
    text-decoration: none; /* Removes underline */
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navlink:hover {
    background: linear-gradient(to right, rgb(255, 0, 166), rgb(31, 38, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbarlogoimage{
    height: 10vh;
}